html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.full-height {
    height: 100vh;
}

.content {
    text-align: center;
    margin-top: 70px;
    height: calc(100vh - 138px);
    overflow-y: scroll;
}

.text-green {
    color: #3CB44A;
}

.title {
    font-size: 32px;
}

.header {
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 70px;
    background-color: #3CB44A;
    color: #FFF;
    padding-top: 12px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, .75);
}

.footer {
    z-index: 999;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 70px;
    border-top: solid 2px #A5A5A5;
    font-size: 16px;
    padding-top: 8px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.unit-item {
    border-bottom: solid 2px #A5A5A5;
    padding-top: 12px;
    font-size: 14px;
    font-weight: 500;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.unit-item > div {
    padding-left: 0;
}

.unit-item:hover {
    background-color: rgba(180, 180, 180, 0.15);
    -webkit-transition: all .3s;
    transition: all .3s;
}

.fa {
    -webkit-transition: all 1s;
    transition: all 1s;
}

div:hover > div > .fa {
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    moz-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all .3s;
    transition: all .3s;
}

.m-b-md {
    margin-bottom: 30px;
}

.break-all {
    word-break: break-all;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.modal-header.modal-header-borderless {
    border: 0;
}

.loader-icon {
    position: fixed;
    margin: 0px 15px 0 -1px;
    top: 16px;
    z-index: 1001;
    color: white;
    font-size: 34px;
    right: 32px;
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -ms-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    opacity: 0;
}

.loader-icon.active {

    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -ms-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    opacity: 1;
}